.face {
  animation: 2.5s ease-in-out infinite alternate shake;
  animation-iteration-count: 1;
}

.external-link {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (min-width: 300px) {
  .avatar-container {
    width: 150px;
  }
}

@media screen and (min-width: 600px) {
  .avatar-container {
    width: 250px;
  }
}

@media screen and (min-width: 1400px) {
  .avatar-container {
    width: 500px;
  }
}
@media screen and (min-width: 1600px) {
  .avatar-container {
    width: 500px;
  }
}
@media screen and (min-width: 1900px) {
  .avatar-container {
    width: 500px;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
